.input-area{
    margin: 0 1.5%;
    border: black 3px solid;
    padding: 30px 20px;
    width: 55%;
    height: 300px;
    border-radius: 20px;

}

.output-area{
    border: black 3px solid;
    padding: 30px 20px;
    width: 35%;
    height: 300px;
    border-radius: 20px;
}

main{
    display: flex;
}

