/* SweetAlert pop up config*/

.swal2-icon.swal2-warning {
    border-color: white !important;
    color: white !important;
    background-color: #0a3871;
}

.swal2-popup {
    font-size: 15px !important;
    font-family: 'Montserrat', sans-serif !important;
    color: black !important;
}

/*PRINCIPAL CONTENT*/

body {
    background-color: #f3f5fc;
}

.in-out-content { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;     
}

/*HEADER CSS ELEMENTS*/

.header-content {
    display: flex;
    margin-top: 1.5%;
}

.alura-info {
    border: black solid;
    padding: 10px 15px;
    margin: 0 1.5%;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    border-radius: 30px;
}

.alura-info h2 {
    color: white;
}

.input-content {
    margin: 5px 1.5% 0 5px;
    width: 74%;
}

.input-area {
    margin: 0 0.5% 1.5% 20%;    
    padding: 30px 20px;
    width: auto;
    height: auto;
    border-radius: 20px;
}

.input-txarea {
    border: none;
    background-color: #f3f5fc;
    margin: 0 1.5% 1.5% 1.5%;
    font-size: 24px;
    color: #0a3871;
    font-weight: bold;
    height: 80%;
    width: 95%;
    border-radius: 12px;
    resize: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}

.input-txarea::placeholder {
    color: #0a3871;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.input-txarea:focus::placeholder {
    color: transparent;
}

.input-txarea:hover {
    border-color: rgb(29, 114, 199);
    place-content: unset;
    border: 0px;
}

.regla-info {
    margin: 5px 0 5px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
}

.regla-img {
    margin: 0 0 0 1.5%;
    float: left;
}

.bt-encriptar {
    color: white;
    font-size: medium;
    border: 1px #0a3871 solid ;
    margin-right: 0px;
    margin-bottom: 10px;
    background-color: #0a3871;
    height: 55px;
    width: 250px;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 1.5%;
    margin-right: 20%;
    font-weight: bolder;
}

.bt-encriptar:hover {
    font-size: 18px;
    background-color: #0d4181;
    transition: 0.2s;
}

.bt-desencriptar {
    color: #0a3871;
    border: 1px #0a3871 solid ;
    font-size: medium;
    margin-bottom: 10px;
    margin-left: 1.5%;
    background-color: #d8dfe8;
    height: 55px;
    width: 250px;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

.bt-desencriptar:hover {
    font-size: 18px;
    background-color: #cad1da;
    transition: 0.2s;
}

.output-area {
    margin-top: 5px;
    padding: 30px 20px;
    width: 20%;
    height: auto;
    border-radius: 20px;
    transition: 400ms;
    box-shadow: 0px 0px
        /*locaclizacion*/
        150px
        /*difuminado*/
        0.5px
        /*expansion*/
        rgb(216, 211, 211);
    text-align: center;
}

.output-area img {
    height: 230px;
    width: auto;
    margin-top: 70px;
}

.output-area h2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 5000;
}

.output-area p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.output-txtarea {
    margin-top: 40px;
    font-size: 24px;
    color: #495057;
    font-weight: bold;
    height: 440px;
    width: 100%;
    border-radius: 12px;
    resize: none;
    outline: none;
    /*quita el borde cuando se selecciona*/
    font-family: 'Montserrat', sans-serif;
    border: none;
}

.bt-copiar {
    color: #0a3871;
    padding: 0.5rem 1rem;
    font-size: medium;
    border: #0a3871 1px solid ;
    margin-bottom: 10px;
    margin-top: 15px;
    background-color: white;
    height: 55px;
    width: auto;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

.bt-copiar:hover {
    font-size: 18px;
    background-color: #cad1da;
    transition: 0.2s;
}

/* FOOTER CSS ELEMENTS*/

.footer-content {
    background-color: #0a3871;
    text-align: center;
    margin-top: 10px;
}

.dev-info {
    padding: 10px 10px;
    margin: 1.5% 1.5% 1.5% 6%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    display: inline-block
}

.dev-info h1 {
    color: white;
}

.dev-info h2 {
    font-style: italic;
    color: white;
}

.contacto-info {
    background-color: white;
    border-radius: 15px;
    color: #0a3871;
    font-size: large;
    font-weight: bolder;
    width: 100px;
    height: 100px;
    padding: 15px 15px;
    margin: 1.5% 1.5%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    display: inline-block
}

.contacto-info i {
    font-size: 48px;
}

#bt-linkedin {
    color: #0a66c2;
}

#bt-github {
    color: black;
}


/*MEDIAS QUERY*/

@media screen and (max-width:1080px) { 
    .output-area img{
        display: none !important;
    }
    
    .output-area{
        width: 68%;
        height: auto;
        margin-left: 0px;
    } 

    .output-txtarea{
        height: auto;
    }
    
    .bt-encriptar{
        width: 170px;
        margin-left: 0px;
    }

    .bt-desencriptar{
        width: 170px;
        margin-left: auto;
    }

    .input-area{
        justify-content: center;
        margin:auto ;
        width: 85%;
    }

    .header-content{
        margin: 10px;
    }

    .area-botones{
        width: auto;
        justify-content: center;
    }
}


@media screen and (max-width:720px) { 
    .bt-encriptar{
        width: 250px;
        margin-right: 0px;
    }

    .bt-desencriptar{
        width: 250px;
    }

    .area-botones{
        width: auto;
        justify-content: center;
        text-align: center;
    }
}

